#selenium-wire>=5.1.0
#blinker==1.7.0
websockets==13.1
pytr==0.3.1
requests==2.32.3
beautifulsoup4==4.12.3
python-dateutil==2.8.2
pyDes==2.0.1
google-api-python-client==2.151.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
flask[async]==3.0.3
flask-cors==5.0.0
pymongo==4.10.1
waitress==3.0.1
cachetools==5.5.0
python-dateutil==2.9.0.post0